table.programs caption {
    caption-side: bottom;
    text-align: center;
}
 
col.timeColumn {
    background: rgb(170, 144, 59);
    width: 10%;
}
col.wDayColumns {
    background: rgb(201, 123, 6);
    width: 11%;
}
col.wEndColumns {
    background: rgb(187, 172, 90);
    width: 17.5%;
}
 
table.programs thead{
    color:white;
    background-color: rgb(177, 112, 16);
}

table.programs thead th:first-of-type{
    color:white;
    background-color: rgb(174, 184, 38);
}

table.programs thead th:nth-of-type(7),
table.programs thead th:nth-of-type(8) {
    color:white;
    background-color: rgb(153, 125, 0);
}

table.programs tfoot{
    color:white;
    background-color: black;
}
        
    
        